html { 
	font-family: sans; 
}

h1 {
	color: #1177d1;
	box-shadow: 0 4px 2px -2px gray;
	padding: 16px;
}

.correct { 
	background-color: #a1e1a1; 
}

.incorrect { 
	background-color: #e1a1a1; 
}

.valid { 
	background-color: #e1e1a1; 
}

.question { 
	background-color: #def2f8; 
	color: #2f6473; 
	padding: 24px; 
	margin-bottom: 16px;
}

.answer { 
	margin-bottom: 8px; 
}

input[type=submit] { 
	background-color: #1177d1; 
	color: white; 
	border: 0; 
	padding: 8px; 
	cursor: pointer; 
}

a {
	background-color: #1177d1; 
        color: white; 
        padding: 8px; 
        cursor: pointer;  
	text-decoration: none;
	font-size: 14px;
}

h3 {
	border: 1px solid #1177d1;
	padding: 16px;
}
